<launch>
  <!-- joy node --> 
  <node machine="master" respawn="true" pkg="joy"
        type="joy" name="gamepad" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 
  <node machine="master" pkg="pioneer_tools" type="joystick_teleop" name="teleop" args="joy:=/joy velocity:=/RosAria/cmd_vel goal:=/RosAria/move_base/goal cancel:=/RosAria/move_base/cancel">
  	<!-- Axes -->
    <param name="axis_linear" value="3" type="int"/>
    <param name="axis_angular" value="2" type="int"/>
    <param name="cancel" value="1" type="int"/>
    <param name="scale_linear" value="1" type="double"/>
    <param name="scale_angular" value="1" type="double"/>    
  </node>
  
</launch>