<launch>
  <include file="$(find joystick_teleop)/launch/$(optenv PIONEER_CONFIG pioneer_config).machine" />

  <!-- use slam -->
  <include file="$(find joystick_teleop)/launch/slam.launch" /> 

  <!-- use joystick teleoperation -->
  <include file="$(find joystick_teleop)/launch/joystick_teleop.launch" />

  <!-- use camera -->
  <include file="$(find joystick_teleop)/launch/camera_1394.launch" />

  <node machine="master" name="visualizer" pkg="rviz" type="rviz" args="--display-config $(find joystick_teleop)/launch/rviz/manual_map_generation_with_camera.vcg" />  

</launch>